In [2]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data.drop()

   age;gender;genre
0       20;1;HipHop
1       23;1;HipHop
2       25;1;HipHop
3         26;1;Jazz
4         29;1;Jazz
5         30;1;Jazz
6    31;1;Classical
7    33;1;Classical
8    37;1;Classical
9        20;0;Dance
10       21;0;Dance
11       25;0;Dance
12    26;0;Acoustic
13    27;0;Acoustic
14    30;0;Acoustic
15   31;0;Classical
16   34;0;Classical
17   35;0;Classical